<%= form_with model: @post, url: new_user_post(@post), method: :post, local: true do |f|%>
<div class="form-card">
  <div>
    <%= f.label :title %>
    <%= f.text_field: :title %>
  </div>

  <div>
    <%= f.label :text %>
    <%= f.text_area: :text %>
  </div>

  <div>
    <%= f.submit "Create New Post" %>
  </div>
  </div>

<% end %>