<h2>Edit Post</h2>
<%= form_with model: @post, url: user_post_path, method: :put, local: true do |f|%>
<div class="form-card">
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>

  <div>
    <%= f.submit %>
  </div>
  </div>

<% end %>