<h1>Here is a list of all posts for a given user</h1>

<div>
  <div class="bio-card" style='border: 1px solid black;'>
    <img src='<%= @user.photo %>' alt='photo'/>
    <div class='bio-details'>
      <h2>Name: <%= @user.name %> </h2>
      <span>Number of post:  <%= @user.posts_counter %> </span>
    </div>
  </div>
  <div class='post-details'>
    <% @posts.includes(:users).each_with_index do |post, index| %>
      <div style='border: 1px solid black;'>
        <span>Post:<%= index+1 %> </span>
        <h3>Title: <%= link_to post.title, user_post_path(@user, post) %> </h3>
        <p> <%= post.text %> </p>
        
        <span> Comments: <%= post.comments_counter %>  Likes: <%= post.likes_counter %> </span>
      </div>
      <div style='border: 1px solid black;'> 
        <%post.most_recent_comments(post.id).each do | commenter |%> 
          <p> <strong><%=commenter.users.name%> </strong>: <%= commenter.text %> </p>
              
        <% end %>
      </div>
    <% end %>
  </div>
  
</div>