<h1>Here is a list of all posts for a given user</h1>
<h3><%= link_to 'Create New Post', new_user_post_path(@user) %>  </h3>
<div>
  <div class="bio-card" style='border: 1px solid black;'>
    <img src='<%= @user.photo %>' alt='photo'/>
    <div class='bio-details'>
      <h2>Name: <%= @user.name %> </h2>
      <span>Number of post:  <%= @user.posts_counter || 0 %> </span>
    </div>
  </div>
  <div class='post-details'>
    <% @post.includes(:users).each_with_index do |post, index| %>
      <div style='border: 1px solid black;'>
        <span>Post:<%= index+1 %> </span>
        <h3>Title: <%= link_to post.title, user_post_path(@user, post) %> </h3>
        <p> <%= post.text %> </p>
        
        <span> Comments: <%= post.comments_counter || 0 %>  Likes: <%= post.likes_counter || 0 %> </span>
      </div>

      <div style='border: 1px solid black;'> 

        <%post.most_recent_comments(post.id).each do | commenter |%> 
          <p> <strong><%=commenter.users.name%> </strong>: <%= commenter.text %> </p>              
        <% end %>

        <span><%= link_to 'Add new comment', new_user_post_comment_path(post.users_id,post.id) %>  </span>

        <%= form_with url: "/users/#{post.users_id}/posts/#{post.id}/likes", method: :post, local: true do |f|%>
          <div class="form-card">     
            <div>
              <%= f.submit "Like" %>
            </div>
          </div>  
        <% end %>
        
      </div>
      <br>
      
    <% end %>
  </div>
  
</div>