<h1>Here is a list of all posts for a given user and for a given post</h1>
<% if user_signed_in?%>
 <div><%= button_to link_to 'Sign Out', destroy_user_session_path, method: :delete %></div>
 <% else %>
<%= render 'layouts/devise_flash' %> 
 <% end %>
 
<h3><%= link_to 'Create New Post', new_user_post_path(@post[0].user_id) %>  </h3>


<div>
<% @post.each do | post | %>
  
  <div style='border: 1px solid black;'>
    <h4>Post by <%= post.user.name %> </h>
    <span> Comments: <%= post.comments_counter || 0 %>  Likes: <%= post.likes_counter || 0 %> </span>
    <h3>Title: <%= post.title %> </h3>
    <p> <%= post.text %> </p>
    <%= button_to "Delete", "/users/#{post.user_id}/posts/#{post.id}", method: :delete, data: {confirm: "Are you sure you wantto delete post"}%>
  </div>
<% end %>
</div>
<div style='border: 1px solid black;'>
<% @comments.each do |commenter| %>
  <p> 
    <strong>
      <%= commenter.user.name %>:
    </strong> <%= commenter.text %> 
    <%= link_to "Edit", edit_user_post_comment_path(commenter.user_id, commenter.post_id, commenter.id)%>
    
  </p>
  
<% end %>
<h3><%= link_to 'Add new comment', new_user_post_comment_path(@post[0].user_id,@post[0].id) %>  </h3>
<%= render "likes/form" %>
</div>

</div>